.row
    .col-md-6.col-xs-10
        h3(style='margin-top:0;') Appointments
    .col-md-6.col-xs-2

        button.btn.btn-info.pull-right(
            ng-click='show_advanced = !show_advanced')
            span.glyphicon.glyphicon-collapse-down
            |  Options

// advanced search collapsible div
div(collapse='show_advanced')
    .well
        .row
            .col-md-3.col-xs-12
                h3.tight Actions
                button.btn.btn-warning.btn-block(ng-click='show_help = !show_help')
                    span.glyphicon.glyphicon-question-sign
                    |  Show Help
                
                // help collapsible div
                div(collapse='show_help')
                    p This list shows all scheduled appointments in the database.  You may filter results by typing in the search box.  It is not case sensitive.  The results will be updated as you type.  Click on a column header to change the sort order.
                    p You may search for any field in the appointment record.  For example, you may enter a customer name.  Or, you may type 'Cardinal' to find all appointments on Cardinal Lane.
                br

            .col-md-9.col-xs-12
                h3.tight Advanced Search
                .row
                    .col-md-6.col-xs-12
                        // completed filter
                        label Completed Appointments
                        .btn-group.btn-group-justified
                            label.btn.btn-primary(
                                ng-model='completed_tristate'
                                btn-radio='0') Show
                            label.btn.btn-primary(ng-model='completed_tristate'
                                btn-radio='1') Exclude
                            label.btn.btn-primary(ng-model='completed_tristate'
                                btn-radio='2') Only
                        br
                        // successful appointments
                        label Successful Appointments
                        .btn-group.btn-group-justified
                            label.btn.btn-primary(
                                ng-model='successful_tristate'
                                btn-radio='0') Show
                            label.btn.btn-primary(ng-model='successful_tristate'
                                btn-radio='1') Exclude
                            label.btn.btn-primary(ng-model='successful_tristate'
                                btn-radio='2') Only
                       br
                    // dropdown for results per page
                    // needs to be wider from customer view
                    .col-md-3(ng-class="{'col-xs-6': !customerId, 'col-xs-12': customerId}")
                        label Results per Page
                        select.form-control(ng-model='items_per_page')
                            option(ng-repeat='v in [10,20,50,500]') {{ v }}
// search box
input.form-control(type='search' placeholder='Search' ng-model='query')

// filter results and save in 'filtered_appointments', display count
p {{ query ? "Filtering " + get_showing_text() + "by '" + query + "'" : 'Showing ' + get_showing_text() }}
    | ({{  (filtered_appointments = (appointments | filter:completed_filter | filter:successful_filter | filter:query | orderBy:sort_by)).length + ' records' }})


// panel adds rounded corners to table
.panel.panel-default
    table.table
        thead
            tr
                th.text-nowrap(ng-click="change_sort('date')") Date 
                    span.glyphicon.glyphicon-sort-by-alphabet(
                        ng-show="sort_by === 'date' && !reverse_sort")
                    span.glyphicon.glyphicon-sort-by-alphabet-alt(
                        ng-show="sort_by === 'date' && reverse_sort")

                th.text-nowrap(ng-click="change_sort('salesRep')") Sales Rep 
                    span.glyphicon.glyphicon-sort-by-alphabet(
                        ng-show="sort_by === 'salesRep' && !reverse_sort")
                    span.glyphicon.glyphicon-sort-by-alphabet-alt(
                        ng-show="sort_by === 'salesRep' && reverse_sort")

                th.hidden-xs(ng-click="change_sort('contact[0].name')") Customer 
                    span.glyphicon.glyphicon-sort-by-alphabet(
                        ng-show="sort_by === 'contact[0].name' && !reverse_sort")
                    span.glyphicon.glyphicon-sort-by-alphabet-alt(
                        ng-show="sort_by === 'contact[0].name' && reverse_sort")

        tbody(ng-repeat="appt in (filtered_appointments |orderBy:sort_by:reverse_sort "
            + "|startFrom: (current_page-1)*items_per_page "
                + '|limitTo: items_per_page)')

            tr(ng-class='appt_class(appt)'
                ng-click='appt.__expanded = appt.__expanded ? false : true')

                td.panel-title.text-nowrap {{ appt.date | date:'short' }}
                td.panel-title.text-nowrap {{ appt.salesRep }}
                td.panel-title.hidden-xs {{ appt.contact[0].name }}

            tr(ng-if='appt.__expanded')
                td(colspan='4')
                    .row
                        // misc actions go here
                        .col-md-3.col-xs-12.col-md-push-9
                            a.btn.btn-warning.btn-block(
                                ng-href='/#/appointments/{{appt.id}}')
                                span.glyphicon.glyphicon-pencil
                                |  Edit Appointment
                            br
                            // either show oploads, or link to job
                            a.btn.btn-primary.btn-block(ng-if='!appt.jobId'
                                ng-href='/#/appointments/{{appt.id}}/uploads')
                                span.glyphicon.glyphicon-cloud-upload
                                |  Uploaded Files ({{appt.jobFiles.length}})

                            a.btn.btn-warning.btn-block(ng-if='appt.jobId'
                                ng-href='/#/jobs/{{appt.jobId}}')
                                span.glyphicon.glyphicon-pencil
                                |  Edit Job
                            br

                        .col-md-3.col-xs-12.col-md-pull-3
                            .well
                                h3.tight Basic Info
                                p.tight {{ appt.date | date:'short' }}
                                p.tight {{ appt.duration }} minutes
                                p.tight {{ appt.notes }}

                        .col-md-3.col-xs-12.col-md-pull-3
                            .well
                                h3.tight Contact
                                p.tight {{ appt.contact[0].fullName }}
                                p.tight Cell: {{ appt.contact[0].cell }}
                                p.tight Office / Home: {{ appt.contact[0].office }}
                                p.tight Email: 
                                    a(ng-href='mailto:{{appt.contact[0].email}}') {{ name.email }}

                        .col-md-3.col-xs-12.col-md-pull-3
                            .well
                                h3.tight Location

                                p.tight {{ appt.address[0].number + ' ' + appt.address[0].street }}
                                p.tight {{ appt.address[0].city + ' ' + appt.address[0].state + ', ' + appt.address[0].postal }}
                                a.btn.btn-info.btn-block(
                                    ng-href='{{appt.address[0].url}}')
                                    span.glyphicon.glyphicon-road
                                    |  Google Maps

// this goes away once we have data
p(ng-hide='appointments.$resolved') Loading data...


// show helpful buttons
div.text-center(ng-show='appointments.$resolved && (completed_tristate || successful_tristate) && filtered_appointments.length < items_per_page')
    label Can't find it?
    br
    button.btn.btn-primary(ng-click='completed_tristate = 0; successful_tristate = 0'
        ) Search All Appointments


pagination.repeated-item(ng-show='filtered_appointments.length'
    total-items='filtered_appointments.length' ng-model='current_page'
    items-per-page='items_per_page' max-size='4' rotate='false')

// color definitions
p Key: 
    span.bg-success Scheduled
    | , 
    span.bg-muted Completed
    | , 
    span.bg-danger Past (mark as completed)
    | , 
    span.bg-warning Upcoming this week

