// heading will be on same row as alerts
// set up can_modify so I can disable everything for unprivileged users
.row(ng-init="can_modify = (window.localStorage.user_role === 'ADMIN' "
    + "|| window.localStorage.user_role === 'SALESMAN')")

    .col-md-6.col-xs-12
        h3.tight Appointment with {{ customer.displayName }} 
            small.text-muted version {{ appointment.__v || 0 }}
    .col-md-6.col-xs-12(ng-class="{ 'vis-hidden': !is_modified}")
        alert.very-tight(type='{{alert.type}}') {{ alert.msg }}

.row
    .col-md-4.col-xs-12
        button.btn.btn-success.btn-block(type='button'
            ng-click='save_changes()'
            ng-disabled='!is_modified || !can_modify || !appointment.repId')
            span.glyphicon.glyphicon-save
            |  Save Changes
        br
    .col-md-2.col-xs-6
        button.btn.btn-danger.btn-block(type='button' ng-disabled='!can_modify'
            ng-click='open_delete_modal()')
            span.glyphicon.glyphicon-trash
            |  Delete Appt
        br
    .col-md-2.col-xs-6
        button.btn.btn-info.btn-block(type='button' ng-click='refresh()')
            span.glyphicon.glyphicon-refresh
            |  Refresh
        br
    .col-md-4.col-xs-12(ng-if='appointment.jobId')
        a.btn.btn-block.btn-warning(
            ng-href='/#/jobs/{{appointment.jobId}}')
            span.glyphicon.glyphicon-pencil
            |  Edit Linked Job
        br
    .col-md-2.col-xs-6(ng-if='!appointment.jobId')
        button.btn.btn-success.btn-block(type='button'
            ng-disabled='!can_modify || is_modified || !appointment.repId'
            ng-click='open_create_job_modal()')
            span.glyphicon.glyphicon-plus
            |  Create Linked Job
        br
    .col-md-2.col-xs-6(ng-if='!appointment.jobId')
        a.btn.btn-block.btn-primary(
            ng-href='/#/appointments/{{appointment.id}}/uploads')
            span.glyphicon.glyphicon-cloud-upload
            |  Uploaded Files ({{appointment.jobFiles.length}})

// edit form
.row
    // start appointment basic info col
    .col-md-4.col-xs-12
        form.well(role='form' name='commercial_form')
            h3.tight Basic Info
            //- disabled if not write access
            fieldset(ng-disabled='!can_modify')

                p Customer Type: {{ customer.type }}
                p(ng-if="customer.type !== 'Residential'"
                    ) Company Name: {{ customer.companyName.name }}
                a.btn.btn-warning.btn-block(
                    ng-href="/#/customers/{{appointment.customerId}}")
                    span.glyphicon.glyphicon-pencil
                    |  Edit Customer
                br
  
                // sales rep
                .btn-group(dropdown is-open='sr_dd.open')
                    label Sales Rep
                    br
                    button.btn.btn-primary.dropdown-toggle(type='button'
                        ng-disabled='!can_modify'
                        ) {{ display_rep(appointment.repId) || "(none)"}} 
                        span.caret

                    ul.dropdown-menu(role='menu')
                        li(ng-repeat='rep in sales_reps')
                            a(href='' ng-click="appointment.repId = rep._id; "
                                + "sr_dd.open = false"
                                ) {{ rep._summary }}
                p.text-danger(ng-hide='appointment.repId') Sales Rep is required
                br
                br
                // calendar
                .form-group
                    label Date
                    .input-group
                        input.form-control(datepicker-popup='shortDate'
                            ng-model='appointment.date' ng-required='true'
                            is-open='cal.is_open')
                        span.input-group-btn
                            button.btn.btn-default(ng-click='open_cal($event)')
                                span.glyphicon.glyphicon-calendar
                .row
                    .col-xs-6
                        .form-group
                            label Time
                            timepicker(ng-model='appointment.date' minute-step='15')
                    .col-xs-6
                        br
                        .form-group
                            label Duration (minutes)
                            input.form-control(type='number'
                                ng-model='appointment.duration')

                .form-group
                    label Notes
                    textarea.form-control(rows='3' ng-model='appointment.notes')
                .row
                    .col-xs-2
                        span.glyphicon.glyphicon-check(
                            ng-show='appointment.isComplete')
                        span.glyphicon.glyphicon-unchecked(
                            ng-hide='appointment.isComplete')
                    .col-xs-10
                        .btn-group.btn-group-justified
                            label.btn.btn-primary(ng-model='appointment.isComplete'
                                btn-checkbox ng-disabled='!can_modify')
                                span.glyphicon.glyphicon-flag
                                |  Appointment is Complete
                br
                .form-group
                    label Linked Job
                    p(ng-if='!appointment.jobId') (no sale made)
                    a.btn.btn-block.btn-warning(ng-if='appointment.jobId'
                        ng-href='/#/jobs/{{appointment.jobId}}')
                        span.glyphicon.glyphicon-pencil
                        |  Edit Linked Job

    // start contact col
    .col-md-4.col-xs-12
        form.well(name='contact_form' role='form')
            h3.tight Contact
            fieldset(ng-disabled='!can_modify')
            
                // use existing or enter new
                .btn-group.btn-group-justified
                    label.btn.btn-info(ng-model='flags.use_existing_contact'
                        btn-radio='true' ng-disabled='!can_modify'
                        ) Use Existing Contact
                    label.btn.btn-info(ng-model='flags.use_existing_contact'
                        btn-radio='false' ng-disabled='!can_modify'
                        ) Enter Contact
                br

                // choose existing
                .btn-group(dropdown is-open='con_dd.open'
                    ng-show='flags.use_existing_contact')
                    button.btn.btn-primary.dropdown-toggle(type='button'
                        ng-disabled='!can_modify || !flags.use_existing_contact'
                        ) {{ appointment.contactName[0].fullName || "(none)" }} 
                        span.caret

                    ul.dropdown-menu(role='menu')
                        li(ng-repeat='name in customer.contacts')
                            a(href='' ng-click="appointment.contact[0] = angular.copy(name); "
                                + "con_dd.open = false"
                                ) {{ name.fullName }}
                // input data
                .form-group
                    label First Name
                    input.form-control(type='text'
                        ng-model='appointment.contact[0].firstName')
                .form-group(
                    ng-class="{'has-error': contact_form.last_name.$invalid  && can_modify }")
                    label Last Name
                    input.form-control(type='text' name='last_name'
                        ng-model='appointment.contact[0].lastName' required)
                    p.help-block(ng-show='contact_form.last_name.$invalid && can_modify'
                        ) Last name is required

                .form-group
                    label Label
                    input.form-control(type='text' ng-model='appointment.contact[0].label')
                .form-group
                    label Cell Phone
                    input.form-control(type='tel' ng-model='appointment.contact[0].cell')
                .form-group
                    label Home / Office Phone
                    input.form-control(type='tel' ng-model='appointment.contact[0].office')

                .form-group(ng-class="{ 'has-error': contact_form.email.$invalid && can_modify }")
                    label Email
                    input.form-control(name='email' type='email'
                        ng-model='appointment.contact[0].email')
                    p.text-danger(ng-show='contact_form.email.$invalid && can_modify'
                        ) Email address is invalid
        br

    // start address col
    .col-md-4.col-xs-12
        form.well(role='form')
            h3.tight Address
            fieldset(ng-disabled='!can_modify')
                // use existing or enter new
                .btn-group.btn-group-justified
                    label.btn.btn-info(ng-model='flags.use_existing_address'
                        btn-radio='true' ng-disabled='!can_modify'
                        ) Use Existing Address
                    label.btn.btn-info(ng-model='flags.use_existing_address'
                        btn-radio='false' ng-disabled='!can_modify'
                        ) Enter Address
                br
                .btn-group(dropdown is-open='ia_dd.open'
                    ng-show='flags.use_existing_address')
                    button.btn.btn-primary.dropdown-toggle(type='button'
                        ng-disabled='!can_modify || !flags.use_existing_address'
                        ) {{ appointment.address[0].full || "(none)" }} 
                        span.caret

                    ul.dropdown-menu(role='menu')
                        li(ng-repeat='addr in (customer.addresses | filter:{current:true})')
                            a(href='' ng-click="appointment.address[0] = angular.copy(addr); "
                                + "ia_dd.open = false"
                                ) {{ addr.full }}

                .form-group
                    label Street Number
                    input.form-control(type='text'
                        ng-model='appointment.address[0].number')
                .form-group
                    label Street
                    input.form-control(type='text'
                        ng-model='appointment.address[0].street')
                .form-group
                    label City
                    input.form-control(type='text'
                        ng-model='appointment.address[0].city')
                .form-group
                    label State
                    input.form-control(type='text'
                        ng-model='appointment.address[0].state')
                .form-group
                    label Postal Code
                    input.form-control(type='text'
                        ng-model='appointment.address[0].postal')
                .form-group
                    label Label
                    input.form-control(type='text'
                        ng-model='appointment.address[0].label')

