.row(ng-init="can_modify = (window.localStorage.user_role === 'ADMIN' "
    + "|| window.localStorage.user_role === 'SALESMAN')")

    .col-md-6.col-xs-12
        h3.tight {{ job._jobString }} Status 
            small.text-muted version {{ job.__v  || 0}}
    .col-md-6.col-xs-12(ng-class="{ 'vis-hidden': !is_modified}")
        alert.very-tight(type='{{alert.type}}') {{ alert.msg }}

// header buttons
.row
    .col-md-2.col-xs-6
        button.btn.btn-success.btn-block(type='button'
            ng-disabled='!is_modified || !can_modify'
            ng-click='save_job()')
            span.glyphicon.glyphicon-save
            |  Save Changes
        br

    .col-md-2.col-xs-6
        button.btn.btn-info.btn-block(type='button' ng-click='route.reload()')
            span.glyphicon.glyphicon-refresh
            |  Refresh
        br
    .col-md-2.col-xs-6
        a.btn.btn-warning.btn-block(
            ng-href='/#/jobs/{{job.id}}')
            span.glyphicon.glyphicon-pencil
            |  Edit Job
        br

.row
    .col-md-4.col-xs-12
        form.well
            h3.tight Basic Info

            label Job is Complete
            .btn-group.btn-group-justified
                label.btn.btn-primary(
                    ng-model='job.isComplete'
                    btn-radio='true') Yes
                label.btn.btn-primary(ng-model='job.isComplete'
                    btn-radio='false') No
            br
            fieldset(ng-disabled='!can_modify')
                .form-group
                    label Notes
                    textarea.form-control(rows='3' ng-model='job.statusNotes')

    .div(ng-repeat='status in job.statusList')
        // because some cols are longer, apply clearfix to those that need new row
        .clearfix(ng-if='$index === 2 || (($index - 2) % 3 === 0)')
        .col-md-4.col-xs-12
            .well
                h3.tight {{ status.name }}
                form(ng-repeat='state in status.states')
                    .row
                        // button to mark status
                        .col-xs-6
                            button.btn.btn-block(
                                ng-class="{'btn-success':state.date, "
                                    + "'btn-primary':!state.date}"
                                ng-click='toggle_state(state)'
                                ng-disabled='!can_modify'
                                ) {{ state.name + (state.date ? ' on' : '') }}

                        // date picker column
                        .col-xs-6(ng-if='state.date' ng-init='is_open = false')
                            .input-group
                                input.form-control(datepicker-popup='shortDate'
                                    ng-model='state.date' ng-required='true'
                                    is-open='is_open')
                                span.input-group-btn
                                    button.btn.btn-default(ng-click='is_open = !is_open; open_cal($event)')
                                        span.glyphicon.glyphicon-calendar
                    br
