.row
    //////// billing info
    .col-md-4.col-xs-12
        .well
            h3.tight Billing Info

            // customer name
            cta-select(assign-to='job.customerName[0]' label='Customer Name'
                select-from='customer.contacts' disabled='!can_modify'
                display-field='fullName')

            // billing addr -- use active_addresses to avoid infinite digest
            cta-select(assign-to='job.billingAddress[0]' label='Billing Address'
                select-from='active_addresses' disabled='!can_modify'
                display-field='full')

            p Customer Type: {{ customer.type }}
            p(ng-if="customer.type !== 'Residential'"
                ) Company Name: {{ customer.companyName.name }}
            a.btn.btn-warning.btn-block(
                ng-href="/#/customers/{{job.customerId}}")
                span.glyphicon.glyphicon-pencil
                |  Edit Customer

        
        form.well(name='general_form' role='form')
            h3.tight General Info
            fieldset(ng-disabled='!can_modify')

                .btn-group.btn-group-justified
                    label.btn.btn-info(ng-model='job.isPending'
                        btn-radio='true' ng-disabled='!can_modify'
                        ) Pending Job
                    label.btn.btn-info(ng-model='job.isPending'
                        btn-radio='false' ng-disabled='!can_modify'
                        ) Active Job
                br
                .form-group
                    label Job Number
                    input.form-control(type='text' name='job_number'
                        ng-model='job.jobNumber' ng-disabled='job.isPending'
                        placeholder="{{ job.isPending ? '' : 'leave blank to automatically assign'}}")
                    p.help-block(ng-show='general_form.job_number.$invalid && can_modify'
                    ) Job number is required

                .form-group
                    label Job Name
                    input.form-control(type='text' ng-model='job.jobName')
                // calendar
                .form-group
                    label Due Date
                    .input-group
                        input.form-control(datepicker-popup='shortDate'
                            ng-model='job.dueDate' ng-required='true'
                            is-open='cal.is_open')
                        span.input-group-btn
                            button.btn.btn-default(
                                ng-click='cal.is_open = !cal.is_open; open_cal($event)')
                                span.glyphicon.glyphicon-calendar
                .form-group
                    label Job Rack Number
                    input.form-control(type='text' ng-model='job.jobRackNo')

                // sales rep
                .form-group
                    label Sales Rep
                    select.form-control(ng-disabled='!can_modify'
                        ng-model='job.repId'
                        ng-options='rep._id as rep._summary for rep in sales_reps')
                // job source
                .form-group
                    label Job Source
                    select.form-control(ng-disabled='!can_modify'
                        ng-model='job.sourceId'
                        ng-options='src._id as src._summary for src in job_sources')

        .well
            h3.tight Flags
            label Priority Job
            .btn-group.btn-group-justified
                label.btn.btn-primary(
                    ng-model='job.isPriority'
                    btn-radio='true') Yes
                label.btn.btn-primary(ng-model='job.isPriority'
                    btn-radio='false') No
            br
            label Hard Deadline
            .btn-group.btn-group-justified
                label.btn.btn-primary(
                    ng-model='job.isHardDeadline'
                    btn-radio='true') Yes
                label.btn.btn-primary(ng-model='job.isHardDeadline'
                    btn-radio='false') No
            br
            label Call Ahead Required
            .btn-group.btn-group-justified
                label.btn.btn-primary(
                    ng-model='job.callAheadRequired'
                    btn-radio='true') Yes
                label.btn.btn-primary(ng-model='job.callAheadRequired'
                    btn-radio='false') No

    //////// contacts
    .col-md-4.col-xs-12
        .well
            h3.tight Job Contact
            // use existing or enter new
            .btn-group.btn-group-justified
                label.btn.btn-info(ng-model='flags.use_existing_contact'
                    btn-radio='true' ng-disabled='!can_modify'
                    ) Use Existing Contact
                label.btn.btn-info(ng-model='flags.use_existing_contact'
                    btn-radio='false' ng-disabled='!can_modify'
                    ) Enter Contact
            br
            // choose existing
            .form-group(ng-if='flags.use_existing_contact')
                select.form-control(ng-disabled='!can_modify'
                    ng-model='job.contactName[0]'
                    ng-options='name as name.fullName for name in customer.contacts track by name.details')

            form(name='contact_form' role='form')
                fieldset(ng-disabled='!can_modify || flags.use_existing_contact')
                    .form-group
                        label First Name
                        input.form-control(type='text' ng-model='job.contactName[0].firstName')

                    //NOTE required fields can't be hidden, so use ng-required
                    .form-group(ng-class="{'has-error': contact_form.last_name.$invalid  && can_modify }")
                        label Last Name
                        input.form-control(type='text' name='last_name'
                            ng-model='job.contactName[0].lastName')

                    .form-group
                        label Label
                        input.form-control(type='text' ng-model='job.contactName[0].label')
                    .form-group
                        label Cell Phone
                        input.form-control(type='tel' ng-model='job.contactName[0].cell')
                    .form-group
                        label Home / Office Phone
                        input.form-control(type='tel' ng-model='job.contactName[0].office')

                    .form-group(ng-class="{ 'has-error': contact_form.email.$invalid && can_modify }")
                        label Email
                        input.form-control(name='email' type='email'
                            ng-model='job.contactName[0].email')
                        p.text-danger(ng-show='contact_form.email.$invalid && can_modify'
                            ) Email address is invalid


        .well
            h3.tight Job Superintendent
            // use existing or enter new
            .btn-group.btn-group-justified
                label.btn.btn-info(btn-radio='true' ng-disabled='!can_modify'
                    ng-model='flags.use_existing_superintendent'
                    ) Use Existing Contact
                label.btn.btn-info(ng-model='flags.use_existing_superintendent'
                    btn-radio='false' ng-disabled='!can_modify'
                    ) Enter Contact

            br

            // choose existing
            .form-group(ng-if='flags.use_existing_superintendent')
                select.form-control(ng-disabled='!can_modify'
                    ng-model='job.superintendentName[0]'
                    ng-options='name as name.fullName for name in customer.contacts track by name.details')

            form(name='superintendent_form' role='form')
                fieldset(ng-disabled='!can_modify || flags.use_existing_superintendent')

                    .form-group
                        label First Name
                        input.form-control(type='text'
                            ng-model='job.superintendentName[0].firstName')

                    .form-group( ng-class="{'has-error': superintendent_form.last_name.$invalid  && can_modify }")
                        label Last Name
                        input.form-control(type='text'
                            name='last_name'
                            ng-model='job.superintendentName[0].lastName')

                    .form-group
                        label Label
                        input.form-control(type='text'
                            ng-model='job.superintendentName[0].label')
                    .form-group
                        label Cell Phone
                        input.form-control(type='tel' 
                            g-model='job.superintendentName[0].cell')
                    .form-group
                        label Home / Office Phone
                        input.form-control(type='tel'
                            ng-model='job.superintendentName[0].office')

                    .form-group(ng-class="{ 'has-error': superintendent_form.email.$invalid && can_modify }")
                        label Email
                        input.form-control(name='email' type='email'
                            ng-model='job.superintendentName[0].email')
                        p.text-danger(ng-show='superintendent_form.email.$invalid && can_modify'
                            ) Email address is invalid


    //////// installation address col
    .col-md-4.col-xs-12
        .well
            h3.tight Installation Address

            // use existing or enter new
            .btn-group.btn-group-justified
                label.btn.btn-info(ng-model='flags.use_existing_address'
                    btn-radio='true' ng-disabled='!can_modify'
                    ) Use Existing Address
                label.btn.btn-info(ng-model='flags.use_existing_address'
                    btn-radio='false' ng-disabled='!can_modify'
                    ) Enter Address
            br

            .btn-group(dropdown is-open='ia_dd.open'
                ng-show='flags.use_existing_address')
                button.btn.btn-primary.dropdown-toggle(type='button'
                    ng-disabled='!can_modify || !flags.use_existing_address'
                    ) {{ job.installationAddress[0].full || "(none)" }} 
                    span.caret

                ul.dropdown-menu(role='menu')
                    li(ng-repeat='addr in (customer.addresses | filter:{current:true})')
                        a(href='' ng-click="job.installationAddress[0] = angular.copy(addr); "
                            + "ia_dd.open = false"
                            ) {{ addr.full }}

            //TODO this form sticks on page when lastname is entered
            // ng-animate seems to prevent ng-hide
            form(role='form')
                fieldset(ng-disabled='!can_modify || flags.use_existing_address')

                    .form-group
                        label Street Number
                        input.form-control(type='text'
                            ng-model='job.installationAddress[0].number')
                    .form-group
                        label Street
                        input.form-control(type='text'
                            ng-model='job.installationAddress[0].street')
                    .form-group
                        label City
                        input.form-control(type='text'
                            ng-model='job.installationAddress[0].city')
                    .form-group
                        label State
                        input.form-control(type='text'
                            ng-model='job.installationAddress[0].state')
                    .form-group
                        label Postal Code
                        input.form-control(type='text'
                            ng-model='job.installationAddress[0].postal')

        form.well(role='form')
            h3.tight Installation Instructions
            fieldset(ng-disabled='!can_modify')
                .form-group
                    textarea.form-control(rows='3'
                        ng-model='job.installationInstructions')
                    p.text-muted Only shown on the work order if there is at least one job item present

