.row
    .col-md-4.col-xs-12
        .well
            h3.tight Job Items

            table.table
                thead
                    tr
                        th
                        th Type
                        th Qty
                        th Label
                tbody
                    tr(ng-repeat='item in job.jobItems'
                        ng-controller='awning_ctrl'
                        ng-click='select_awning(item)'
                        ng-class="{ 'active': item === awning } ")
                        td: span.glyphicon.glyphicon-chevron-right(
                            ng-class="{'vis-hidden': item !== awning }")
                        td {{ get_awning_string(item.type) }}
                        td {{ item.quantity }}
                        td {{ item.label }}

        .row
            .col-xs-6
                button.btn.btn-block.btn-success(ng-click='add_item()'
                    ng-disabled='!can_modify')
                    span.glyphicon.glyphicon-plus
                    |  Add Awning
                button.btn.btn-block.btn-warning(ng-show='awning'
                    ng-click="clone_item(awning)" ng-disabled='!can_modify')
                    span.glyphicon.glyphicon-screenshot
                    |  Clone Awning
                button.btn.btn-block.btn-danger(ng-show='awning'
                    ng-click='remove_item(awning)' ng-disabled='!can_modify')
                    span.glyphicon.glyphicon-trash
                    |  Remove Awning
            .col-xs-6
                button.btn.btn-block.btn-info(ng-show='awning'
                    ng-disabled='!can_modify'
                    ng-click="move(job.jobItems, awning, -1)")
                    span.glyphicon.glyphicon-chevron-up
                    |  Move Up
                button.btn.btn-block.btn-info(ng-show='awning'
                    ng-disabled='!can_modify'
                    ng-click="move(job.jobItems, awning, 1)")
                    span.glyphicon.glyphicon-chevron-down
                    |  Move Down
        br


    //////// begin list of details
    .col-md-4.col-xs-12(ng-hide='awning')
        p.well Click on an awning to see details
    .col-md-4.col-xs-12(ng-show='awning')

        form(name='qty_form').well
            h3.tight Type
            .row
                .col-xs-6
                    /////// awning type
                    .form-group
                        label Type
                        select.form-control(ng-disabled='!can_modify'
                            ng-model='awning.type'
                            ng-options='type as get_awning_string(type) for (type,subtype) in awning_types')

                .col-xs-6(ng-show='awning_types[awning.type].length')
                    // subtype
                    .form-group
                        label Subtype
                        select.form-control(ng-disabled='!can_modify'
                            ng-model='awning.subtype'
                            ng-options='type for type in awning_types[awning.type]')

            fieldset(ng-disabled='!can_modify')
                .row
                    .col-xs-6
                        // quantity
                        .form-group( ng-class="{'has-error': qty_form.qty.$invalid  && can_modify }")
                            label Quantity
                            input.form-control(type='number' name='qty'
                                min='0' pattern='^[0-9]+$'
                                ng-model='awning.quantity' required)
                            p.help-block(ng-show='qty_form.qty.$invalid && can_modify'
                                ) Must be an integer
                    .col-xs-6
                        .form-group
                            label Label
                            input.form-control(type='text' ng-model='awning.label')


        ////// pricing
        form.well(name='pricing' ng-show='can_modify')
            h3.tight Pricing
            fieldset
                .row
                    .col-xs-6
                        .form-group(
                            ng-class="{'has-error':pricing.price.$invalid}")
                            label Price Each {{ awning.price / 100 | currency }}
                            input.form-control(type='number' name='price'
                                pattern='^[0-9]*\.?[0-9]{0,2}$'
                                ng-model='awning.priceDollars' min='0')
                            //TODO this text doesn't hide in firefox mobile
                            p.help-block(ng-show='pricing.price.$invalid'
                                ) Not a valid price
                            p.help-block(ng-hide='pricing.price.$invalid'
                                ) Including tax
                        .form-group(
                            ng-class="{'has-error':pricing.ratio.$invalid}")
                            label Labor Ratio
                            input.form-control(type='number' name='ratio'
                                ng-model='awning.laborRatio' min='0' max='1')
                            p.help-block(ng-show='pricing.ratio.$invalid'
                                ) Must be between 0 and 1
                    .col-xs-6
                        label Totals for This Item
                        .row
                            .col-xs-6
                                p Materials
                                p Labor
                                p Total
                            .col-xs-5
                                p.pull-right {{ (awning.price / 100) * awning.quantity * (1 - awning.laborRatio) | currency }}
                                p.pull-right {{ (awning.price / 100) * awning.quantity * awning.laborRatio | currency }}
                                p.pull-right {{ (awning.price / 100) * awning.quantity | currency }}
                        p.help-block All figures include tax
                            

        ////// dimensions
        form.well(name='dims' ng-hide="awning.type === 'Labor'")
            h3.tight Dimensions
            fieldset(ng-disabled='!can_modify')
                .row
                    .col-xs-6
                        .form-group(
                            ng-class="{'has-error':dims.dropFeet.$invalid}"
                            ng-hide="awning.type === 'Screen' "
                            + " || awning.type === 'Retractable' "
                            + " || awning.type === 'BallewsCanopy' "
                            + " || awning.type === 'EliteDeckCanopy' ")
                            label Drop (ft)
                            input.form-control(name='dropFeet' type='number'
                                ng-model='awning.frameDropFeet')
                        .form-group(
                            ng-class="{'has-error':dims.projectionFeet.$invalid}")
                            label Projection (ft)
                            input.form-control(name='projectionFeet' type='number'
                                ng-model='awning.frameProjectionFeet')
                        .form-group(
                            ng-class="{'has-error':dims.widthFeet.$invalid}")
                            label Width (ft)
                            input.form-control(name='widthFeet' type='number'
                                ng-model='awning.frameWidthFeet')
                    .col-xs-6
                        .form-group(
                            ng-class="{'has-error':dims.dropInches.$invalid}"
                            ng-hide="awning.type === 'Screen' "
                            + " || awning.type === 'Retractable' "
                            + " || awning.type === 'BallewsCanopy' "
                            + " || awning.type === 'EliteDeckCanopy' ")
                            label Drop (in)
                            input.form-control(name='dropInches' type='number'
                                ng-model='awning.frameDropInches')
                        .form-group(
                            ng-class="{'has-error':dims.projectionInches.$invalid}")
                            label Projection (in)
                            input.form-control(
                                name='projectionInches' type='number'
                                ng-model='awning.frameProjectionInches')
                        .form-group(
                            ng-class="{'has-error':dims.widthInches.$invalid}")
                            label Width (in)
                            input.form-control(name='widthInches' type='number'
                                ng-model='awning.frameWidthInches')


        // material
        form.well(ng-hide="awning.type === 'EliteDeckCanopy' "
            + "|| awning.type === 'BahamaShutters' "
            + "|| awning.type === 'SunControlLouvers' "
            + "|| awning.type === 'MiscMetalProducts' "
            + "|| awning.type === 'Labor' ")

            h3.tight Material
            fieldset(ng-disabled='!can_modify')
                .form-group(ng-hide="awning.type === 'BallewsCanopy'")
                    label Material Number
                    input.form-control(type='text'
                        ng-model='awning.materialNumber')
                .form-group(ng-hide="awning.type === 'BallewsCanopy'")
                    label Material Description
                    input.form-control(type='text'
                        ng-model='awning.materialDescription')
                // ordered color
                .form-group(ng-show="awning.type === 'Retractable' "
                    + "|| awning.type === 'Screen' "
                    + "|| awning.type === 'BallewsCanopy'")
                    label Frame Color
                    input.form-control(type='text'
                        ng-model='awning.frameColor')

        // frame stuff
        form.well(ng-show="awning.type === 'PatioCanopy' "
            + "|| awning.type === 'MiscCanvasProducts' "
            + "|| awning.type === 'CanvasAwning' "
            + "|| awning.type === 'Recover' "
            + "|| awning.type === 'Repair' "
            + "|| awning.type === 'StandingSeam' ")
            h3.tight Frame
            .row
                .col-xs-6
                    // frame type
                    .form-group(ng-hide="awning.type === 'StandingSeam'")
                        label Frame Type
                        select.form-control(ng-disabled='!can_modify'
                            ng-model='awning.frameType'
                            ng-options='type for type in frame_types') 

                .col-xs-6
                    fieldset(ng-disabled='!can_modify')
                        // only show if frame type starts with 'Staple'
                        .form-group(
                            ng-show="awning.frameType.lastIndexOf('Staple',0)===0 "
                            + "&& awning.type !== 'StandingSeam'")
                            label PVC Color
                            input.form-control(type='text'
                                ng-model='awning.pvcColor')
            .row
                .col-xs-6
                    .form-group
                        label Frame Ends
                        select.form-control(ng-disabled='!can_modify'
                            ng-model='awning.frameEndType'
                            ng-options='type for type in frame_end_types')


    ///// third col
    .col-md-4.col-xs-12(ng-show='awning')
        form.well(name='val_form' ng-hide="awning.type === 'EliteDeckCanopy' "
            + "|| awning.type === 'BahamaShutters' "
            + "|| awning.type === 'SunControlLouvers' "
            + "|| awning.type === 'MiscMetalProducts' "
            + "|| awning.type === 'BallewsCanopy' "
            + "|| awning.type === 'Labor' ")
            h3.tight Valance
            fieldset(ng-disabled='!can_modify')
                .form-group
                    .btn-group.btn-group-justified
                        label.btn.btn-info(ng-model='awning.valanceType'
                            btn-radio="'None'") None
                        label.btn.btn-info(ng-model='awning.valanceType'
                            ng-hide="awning.type === 'Retractable' "
                            + " || awning.type === 'Screen' "
                            btn-radio="'Rigid'") Rigid
                        label.btn.btn-info(ng-model='awning.valanceType'
                            btn-radio="'Loose'") Loose

                ////// valance length
                .form-group(ng-hide="awning.valanceType === 'None'"
                    ng-class="{'has-error':val_form.val_length.$invalid}")
                    label Length (in)
                    input.form-control(type='number' name='val_length'
                        ng-model='awning.valanceLength')
                    p.text-danger(ng-show='val_form.val_length.$invalid'
                        ) Must be a number

                // scallop styles
                .row(ng-show="awning.valanceType === 'Loose'")
                    .col-xs-6
                        .form-group
                            label Scallop Style
                            select.form-control(ng-disabled='!can_modify'
                                ng-model='awning.scallopStyle'
                                ) {{ awning.scallopStyle || '(none)' }}
                                option(ng-if="awning.type !== 'Retractable'"
                                    ng-repeat='style in scallop_styles'
                                    ) {{ style }}
                                option(ng-if="awning.type === 'Retractable'"
                                    ng-repeat='style in retractable_scallop_styles'
                                    ) {{ style }}

                    .col-xs-6
                        .form-group
                            label Binding Color
                            input.form-control(type='text' ng-model='awning.bindingColor')

        ////// powdercoated
        form.well(ng-hide="awning.type === 'Labor'")
            h3.tight Powdercoating
            fieldset(ng-disabled='!can_modify')
                .form-group
                    .btn-group.btn-group-justified
                        label.btn.btn-primary(ng-model='awning.isPowdercoated'
                            btn-radio="true") Yes
                        label.btn.btn-primary(ng-model='awning.isPowdercoated'
                            btn-radio="false") No

                .form-group(ng-show='awning.isPowdercoated')
                    label Color Number
                    input.form-control(type='text'
                        ng-model='awning.frameColorNumber')
                .form-group(ng-show='awning.isPowdercoated')
                    label Color Description
                    input.form-control(type='text'
                        ng-model='awning.frameColorDesc')



        ////// graphics
        form.well(ng-show="awning.type === 'PatioCanopy' "
            + " || awning.type === 'MiscCanvasProducts' "
            + " || awning.type === 'CanvasAwning' "
            + " || awning.type === 'Recover' "
            + " || awning.type === 'Repair' "
            + " || awning.type === 'CanvasCurtains' ")
            h3.tight Graphics
            fieldset(ng-disabled='!can_modify')
                .form-group
                    .btn-group.btn-group-justified
                        label.btn.btn-primary(ng-model='awning.hasGraphics'
                            btn-radio="true") Yes
                        label.btn.btn-primary(ng-model='awning.hasGraphics'
                            btn-radio="false") No
                .form-group(ng-show='awning.hasGraphics')
                    label Graphics Description
                    textarea.form-control(rows='3'
                        ng-model='awning.graphicsDesc')


        // mounting
        form.well(name='mount_form' ng-hide="awning.type === 'Labor'")
            h3.tight Mounting
            fieldset(ng-disabled='!can_modify')
                .row
                    ////// mounting surface
                    .col-xs-6
                        .form-group
                            label Mounting Surface
                            select.form-control(ng-disabled='!can_modify'
                                ng-model='awning.mountingSurface'
                                ng-options='surface for surface in mounting_surfaces')

                    ////// footing
                    .col-xs-6
                        .btn-group(dropdown is-open='foot_dd.open'
                            ng-show="awning.type === 'PatioCanopy'")
                            label Footing
                            br
                            button.btn.btn-primary.dropdown-toggle(type='button'
                                ng-disabled='!can_modify'
                                ) {{ awning.footing || '(none)' }} 
                                span.caret
                            ul.dropdown-menu(role='menu')
                                li(ng-repeat='footing in footing_types')
                                    a(href='' ng-click="awning.footing = footing; "
                                        + "foot_dd.open = false"
                                        ) {{ footing }}
                br
                .row
                    .col-xs-6
                        .form-group(
                            ng-class="{'has-error':mount_form.mountFeet.$invalid}")
                            label Mounting Height (ft)
                            input.form-control(name='mountFeet' type='number'
                                ng-model='awning.mountingHeightFeet')
                        .form-group(
                            ng-class="{'has-error':mount_form.clearFeet.$invalid}")
                            label Clearance (ft)
                            input.form-control(name='clearFeet' type='number'
                                ng-model='awning.clearanceHeightFeet')
                    .col-xs-6
                        .form-group(
                            ng-class="{'has-error':mount_form.mountInches.$invalid}")
                            label Mounting Height (in)
                            input.form-control(name='mountInches' type='number'
                                ng-model='awning.mountingHeightInches')
                        .form-group(
                            ng-class="{'has-error':mount_form.clearInches.$invalid}")
                            label Clearance (in)
                            input.form-control(name='clearInches' type='number'
                                ng-model='awning.clearanceHeightInches')

                .form-group(ng-show="awning.type === 'Retractable' || awning.type === 'Screen'")
                    label Electrician Required
                    .btn-group.btn-group-justified
                        label.btn.btn-primary(btn-radio="true"
                            ng-model='awning.needsElectrician') Yes
                        label.btn.btn-primary(btn-radio="false"
                            ng-model='awning.needsElectrician') No

        form.well
            h3.tight Fabrication Instructions
            fieldset(ng-disabled='!can_modify')
                .form-group
                    textarea.form-control(rows='3' ng-model='awning.fabricationInstructions')



