// heading will be on same row as alerts
// set up can_modify so I can disable everything for unprivileged users
.row(ng-init="can_modify = (window.localStorage.user_role === 'ADMIN' "
    + "|| window.localStorage.user_role === 'SALESMAN')")

    .col-md-6.col-xs-12
        h3.tight {{ job._jobString }} 
            small.text-muted version {{ job.__v  || 0}}
    .col-md-6.col-xs-12(ng-class="{ 'vis-hidden': !is_modified}")
        alert.very-tight(type='{{alert.type}}') {{ alert.msg }}

.row
    .col-md-2.col-xs-6
        //TODO disable this when any validation errs -- can't access forms from here
        button.btn.btn-success.btn-block(type='button'
            ng-disabled='!is_modified || !can_modify'
            ng-click='save_job()')
            span.glyphicon.glyphicon-save
            |  Save Changes
        br

    .col-md-2.col-xs-6
        button.btn.btn-danger.btn-block(type='button' ng-click='open_delete_modal()'
            ng-disabled='!can_modify')
            span.glyphicon.glyphicon-trash
            |  Delete Job
        br

    .col-md-2.col-xs-6
        button.btn.btn-info.btn-block(type='button' ng-click='refresh()')
            span.glyphicon.glyphicon-refresh
            |  Refresh
        br

    .col-md-2.col-xs-6
        a.btn.btn-primary.btn-block(
            ng-href='/#/jobs/{{job.id}}/status')
            span.glyphicon.glyphicon-list
            |  Job Status
        br
            
    .col-md-2.col-xs-6
        a.btn.btn-success.btn-block(
            ng-href='/jobs/{{job.id}}/work_order.pdf')
            span.glyphicon.glyphicon-list-alt
            |  Work Order
        br

    .col-md-2.col-xs-6
        a.btn.btn-primary.btn-block(
            ng-href='/#/jobs/{{job.id}}/uploads')
            span.glyphicon.glyphicon-cloud-upload
            |  Uploaded Files ({{job.jobFiles.length}})
        br

tabset
    tab(heading='Job Info' select="set_tab('job_info')"
        active="tab_job_info_active")
        br
        include job_details_general_info

    tab(heading='Job Items' select="set_tab('awnings')"
        active='tab_awnings_active')
        br
        include job_details_awning_info

    tab(heading='Proposal' select="set_tab('proposal')" ng-if='can_modify'
        active='tab_proposal_active')
        br
        include job_details_proposal_info
