
div(ng-init="can_modify = (window.localStorage.user_role === 'ADMIN' "
    + "|| window.localStorage.user_role === 'SALESMAN')")

// manage sales reps
.well
    h3.tight Manage Sales Reps

    button.btn.btn-success(ng-disabled='!reps_is_modified || !can_modify'
        ng-click="save_reps()")
        span.glyphicon.glyphicon-save
        |  Save Changes

    .table-responsive
        table.table
            thead
                tr
                    th Initials
                    th First Name
                    th Last Name
                    th Email
                    th Phone
                    th Active
                    th Delete
            tbody
                tr.fade-animation(ng-repeat='rep in sales_reps')
                    td: input.form-control(ng-disabled='!can_modify'
                        type='text' ng-model='rep.initials')
                    td: input.form-control(ng-disabled='!can_modify'
                        type='text' ng-model='rep.firstName')
                    td: input.form-control(ng-disabled='!can_modify'
                        type='text' ng-model='rep.lastName')
                    td: input.form-control(ng-disabled='!can_modify'
                        type='email' ng-model='rep.email')
                    td: input.form-control(ng-disabled='!can_modify'
                        type='tel' ng-model='rep.phone')
                    td
                        .btn-group
                            label.btn.btn-info(ng-model='rep.isActive'
                                ng-disabled='!can_modify' btn-radio='true'
                                ) Yes
                            label.btn.btn-info(ng-model='rep.isActive'
                                ng-disabled='!can_modify' btn-radio='false'
                                ) No
                    td
                        button.btn.btn-sm.btn-danger(ng-disabled='!can_modify'
                            ng-click="delete_rep(rep.id)")
                            span.glyphicon.glyphicon-trash

// add a sales rep
.row
    .col-md-6.col-xs-12
        form.well(role='form' name='rep_form')
            fieldset(ng-disabled='!can_modify')
     
                h3.tight Add a Sales Rep
                .form-group(ng-class="{'has-error': rep_form.first.$invalid && can_modify}")
                    label First Name
                    input.form-control(type='text' required name='first'
                        ng-model='new_rep.firstName')
                .form-group(ng-class="{'has-error': rep_form.last.$invalid && can_modify}")
                    label Last Name
                    input.form-control(type='text' required name='last'
                        ng-model='new_rep.lastName')
                .form-group(ng-class="{'has-error': rep_form.email.$invalid && can_modify}")
                    label Email
                    input.form-control(type='email' required name='email'
                        ng-model='new_rep.email')

                .row
                    .col-xs-6
                        .form-group(
                            ng-class="{'has-error': rep_form.initials.$invalid && can_modify}")
                            label Initials
                            input.form-control(type='text' required name='initials'
                                ng-model='new_rep.initials')
                    .col-xs-6
                        .form-group
                            label Phone
                            input.form-control(type='tel' name='phone'
                                ng-model='new_rep.phone')

                button.btn.btn-success(type='submit' ng-click="add_rep()"
                    ng-disabled="rep_form.$invalid")
                    span.glyphicon.glyphicon-plus
                    |  Create Rep

    .col-md-6.col-xs-12
        .well
            h3.tight Info
            p Here you may manage sales reps and job sources.  Reps and sources marked as inactive will not appear as an option when editing a job.

            p Email and Phone fields will appear on any contracts for a given Rep.
            
            p The only time you need to click 'Save Changes' is after modifying a record in the tables.  Adding or deleting sales reps and job sources takes effect immediately.

            p.text-danger Warning: When you update an existing rep  or source here, it will also change all work orders that reference that rep or source.  You will not be able to delete a rep  or source that is referenced by any jobs.




// manage job sources
.well
    h3.tight Manage Job Sources

    button.btn.btn-success(ng-disabled='!src_is_modified || !can_modify'
        ng-click="save_sources()")
        span.glyphicon.glyphicon-save
        |  Save Changes

    .table-responsive
        table.table
            thead
                tr
                    th Name
                    th Comment
                    th Active
                    th Delete
            tbody
                tr.fade-animation(ng-repeat='src in job_sources')
                    td: input.form-control(ng-disabled='!can_modify'
                        type='text' ng-model='src.name')
                    td: input.form-control(ng-disabled='!can_modify'
                        type='text' ng-model='src.comment')
                    td
                        .btn-group
                            label.btn.btn-info(ng-model='src.isActive'
                                ng-disabled='!can_modify' btn-radio='true'
                                ) Yes
                            label.btn.btn-info(ng-model='src.isActive'
                                ng-disabled='!can_modify' btn-radio='false'
                                ) No
                    td
                        button.btn.btn-sm.btn-danger(ng-disabled='!can_modify'
                            ng-click="delete_source(src.id)")
                            span.glyphicon.glyphicon-trash

// add job source
.row
    .col-md-6.col-xs-12
        form.well(role='form' name='src_form')
            fieldset(ng-disabled='!can_modify')
                h3.tight Add a Job Source

                .form-group(ng-class="{'has-error': src_form.name.$invalid && can_modify}")
                    label Name
                    input.form-control(type='text' required name='name'
                        ng-model='new_src.name')
                .form-group
                    label Comment
                    input.form-control(type='text' ng-model='new_src.comment')

                button.btn.btn-success(type='submit' ng-click="add_source()"
                    ng-disabled="src_form.$invalid")
                    span.glyphicon.glyphicon-plus
                    |  Create Job Source

