// heading will be on same row as alerts
.row
    .col-md-6.col-xs-12
        h3.tight {{ recipe.title }} 
            small.text-muted version {{ recipe.__v || 0 }}
    .col-md-6.col-xs-12(ng-class="{ 'vis-hidden': !is_modified}")
        alert.very-tight(type='{{alert.type}}') {{ alert.msg }}

.row
    .col-md-3.col-xs-12
        button.btn.btn-success.btn-block(type='button'
            ng-click='save_changes()'
            ng-disabled='!is_modified || !can_modify')
            span.glyphicon.glyphicon-save
            |  Save Changes
        br
    .col-md-3.col-xs-12
        button.btn.btn-warning.btn-block(type='button'
            ng-click='edit_mode = !edit_mode'
            ng-disabled='!can_modify')
            span.glyphicon.glyphicon-pencil
            |  Toggle Edit Mode
        br
    .col-md-3.col-xs-6
        button.btn.btn-danger.btn-block(type='button' ng-disabled='!can_modify'
            ng-click='open_delete_modal()')
            span.glyphicon.glyphicon-trash
            |  Delete Recipe
        br
    .col-md-3.col-xs-6
        button.btn.btn-info.btn-block(type='button' ng-click='refresh()')
            span.glyphicon.glyphicon-refresh
            |  Refresh
        br

// display form
.row(ng-if='!edit_mode')
    // this col will hold misc actions
    .col-md-3.col-xs-12.col-md-push-9
        .well.hidden-md.hidden-lg(ng-if='recipe.summary')
            h3.tight Summary
            p.tight {{ recipe.summary }}
        // list of linked recipes
        .well(ng-if='recipe.linked.length')
            h3.tight Linked Recipes
            // empty div for formatting
            .form-group
            .form-group(ng-repeat='id in recipe.linked')
                a.btn.btn-primary.btn-block(
                    ng-href='/#/recipes/{{id}}')
                    span.glyphicon.glyphicon-share-alt
                    |  {{ get_recipe_name(id) }}

    .col-md-3.col-xs-12.col-md-pull-3
        .well.hidden-xs.hidden-sm(ng-if='recipe.summary')
            h3.tight Summary
            p.tight {{ recipe.summary }}
        .well
            h3.tight Ingredients
            ul
                li(ng-repeat='item in recipe.ingredients track by $index'
                    ) {{ item }}

    .col-md-3.col-xs-12.col-md-pull-3
        .well
            h3.tight Directions
            ol.recipe-directions
                li(ng-repeat='item in recipe.directions track by $index'
                    ) {{ item }}

    .col-md-3.col-xs-12.col-md-pull-3
        .well
            h3.tight Info
            dl
                dt(ng-if='recipe.amount') Amount
                dd(ng-if='recipe.amount') {{ recipe.amount }}
                dt(ng-if='recipe.oven') Oven Temp
                dd(ng-if='recipe.oven') {{ recipe.oven }}
                dt(ng-if='recipe.time') Time
                dd(ng-if='recipe.time') {{ recipe.time }}
                dt(ng-if='recipe.source') Source
                dd(ng-if='recipe.source') {{ recipe.source }}
                dt(ng-if='recipe.notes') Notes
                dd(ng-if='recipe.notes') {{ recipe.notes }}


// edit form
.row(ng-if='edit_mode')
    // start recipe ingredients col
    .col-md-4.col-xs-12
        form.well(role='form')
            h3.tight Ingredients
            fieldset(ng-disabled='!can_modify')
                p.help-block Abbreviate teaspoon and tablespoon as 'tsp' and 'tbsp', with no period.

                // list of ingredients with buttons to remove
                // we must track by index and bind to parent object
                .form-group(
                        ng-repeat='item in recipe.ingredients track by $index')
                    .input-group
                        // TODO maybe use autofocus only if desktop
                        input.form-control(type='text' name=''
                            ng-model='recipe.ingredients[$index]'
                            ng-disabled='!can_modify')
                        span.input-group-btn
                            button.btn.btn-danger(
                                ng-click='recipe.ingredients.splice($index,1)')
                                span.glyphicon.glyphicon-remove

                button.btn.btn-success.btn-block(ng-disabled='!can_modify'
                    ng-click='recipe.ingredients.push("")')
                    span.glyphicon.glyphicon-plus
                    |  Add Ingredient

        // recipe tags
        form.well(role='form')
            h3.tight Tags
            fieldset(ng-disabled='!can_modify')
                // list of tags with buttons to remove
                // we must track by index and bind to parent object
                p.help-block Tags will autocomplete. If possible, use existing tags to keep the list small.  Note that you can search for ingredients, so you don't need tags like 'beans'.
                .form-group(
                        ng-repeat='item in recipe.tags track by $index')
                    .input-group
                        input.form-control(type='text' name=''
                            ng-model='recipe.tags[$index]'
                            typeahead='tag for tag in tags | filter:$viewValue | limitTo:8'
                            ng-disabled='!can_modify')
                        span.input-group-btn
                            button.btn.btn-danger(
                                ng-click='recipe.tags.splice($index,1)')
                                span.glyphicon.glyphicon-remove

                button.btn.btn-success.btn-block(ng-disabled='!can_modify'
                    ng-click='recipe.tags.push("")')
                    span.glyphicon.glyphicon-plus
                    |  Add Tag
                    
    // start directions col
    .col-md-4.col-xs-12
        form.well(role='form')
            h3.tight Directions
            fieldset(ng-disabled='!can_modify')
                p.help-block One sentence per step is a good rule of thumb. Capitalized, ends with a period. Use arrows to sort if you need to add a step.
                // list of directions with buttons to remove
                // we must track by index and bind to parent object
                .form-group(ng-repeat='item in recipe.directions track by $index')
                    label Step {{ $index + 1 }}
                    .row
                        .col-xs-10
                            textarea.form-control(rows='3' type='text' name=''
                                ng-model='recipe.directions[$index]'
                                ng-disabled='!can_modify')
                        .col-xs-2
                            button.btn.btn-danger(
                                ng-click='recipe.directions.splice($index,1)')
                                span.glyphicon.glyphicon-remove
                            br
                            button.btn.btn-primary(
                                ng-click='move_up($index)')
                                span.glyphicon.glyphicon-chevron-up

                button.btn.btn-success.btn-block(ng-disabled='!can_modify'
                    ng-click='recipe.directions.push("")')
                    span.glyphicon.glyphicon-plus
                    |  Add Step
                
    // start info col
    .col-md-4.col-xs-12
        form.well
            h3.tight Info
            fieldset(ng-disabled='!can_modify')
                .form-group
                    label Title
                    input.form-control(type='text' ng-model='recipe.title')
                    p.help-block Name of recipe, capitalized
                .form-group
                    label Summary
                    input.form-control(type='text' ng-model='recipe.summary')
                    p.help-block One line, capitalized, ends with a period
                .form-group
                    label Amount
                    input.form-control(type='text' ng-model='recipe.amount')
                    p.help-block E.g. makes 2 dozen or serves 4
                .form-group
                    label Oven Temp
                    input.form-control(type='text' ng-model='recipe.oven')
                    p.help-block E.g. 350 F
                .form-group
                    label Time Required
                    input.form-control(type='text' ng-model='recipe.time')
                    p.help-block Total preparation and cooking time
                .form-group
                    label Source
                    input.form-control(type='text' ng-model='recipe.source')
                    p.help-block Where recipe came from, URL or other
                .form-group
                    label Notes
                    textarea.form-control(rows='3' type='text'
                        ng-model='recipe.notes')
                    p.help-block Misc info that doesn't have a dedicated box
                .form-group
                    label Created By
                    p.tight {{ author.name }}

        // linked recipes
        form.well
            h3.tight Linked Recipes
            fieldset(ng-disabled='!can_modify')
                // highlight error if not a valid recipe
                .form-group(ng-repeat='item in recipe.linked track by $index')
                    .row
                        .col-xs-10
                            a.btn.btn-primary.btn-block(ng-href='/#/recipes/{{item}}')
                                span.glyphicon.glyphicon-share-alt
                                |  {{ get_recipe_name(item) }}
                        .col-xs-2
                            button.btn.btn-danger.btn-block(
                                ng-click='recipe.linked.splice($index,1)')
                                span.glyphicon.glyphicon-remove

                // form to add linked recipes
                .form-group
                    label Link a Recipe
                    input.form-control(type='text' name=''
                        ng-model='linked_recipe'
                        placeholder='type recipe name and select'
                        typeahead-editable='false'
                        typeahead-on-select='linked_recipe_select($item, $model, $label)'
                        typeahead='recipe as recipe.title for recipe in recipes | filter:{title:$viewValue} | limitTo:8'
                        ng-disabled='!can_modify')
                    p.help-block Link relevant recipes to this one, e.g. icing or sauce

// comments                    
.row
    .col-md-6
        .well
            h3.tight Comments
            p.help-block Leave a comment if you have a suggestion or ingredient substitution.  You can edit your own comments later.
            // show all comments
            .well(ng-repeat='comment in comments')
                .row
                    .col-xs-9
                        .row
                            .col-xs-12.col-md-6
                                strong {{ users[comment.authorId].name }}  
                            .col-xs-12.col-md-6
                                em {{ comment.timestamp |date:'medium' }}
                    .col-xs-3
                        .pull-right(ng-if='user_is(comment.authorId)')
                            button.btn.btn-warning(ng-disabled='comment.edit'
                                ng-click='comment.edit = true')
                                span.glyphicon.glyphicon-pencil
                            button.btn.btn-danger(
                                ng-click='open_delete_comment_modal(comment.id)')
                                span.glyphicon.glyphicon-trash

                // split string on \n into paragraphs
                p(ng-hide='comment.edit' ng-repeat="line in comment.text.split('\n') track by $index") {{ line }}
                .form-group(ng-show='comment.edit')
                    textarea.form-control(rows='3' ng-model='comment.text')
                    button.btn.btn-success.btn-block(
                        ng-click='update_comment(comment)'
                        ng-disabled='!comment.text')
                        span.glyphicon.glyphicon-plus
                        |  Update Comment

            // add comment form
            p(ng-if='!can_comment') You must be logged in to post comments.
            form(ng-if='can_comment')
                .form-group
                    label Add Comment
                    textarea.form-control(rows='3' ng-model='new_comment.text')
                button.btn.btn-success.btn-block(ng-click='add_comment()'
                    ng-disabled='!new_comment.text')
                    span.glyphicon.glyphicon-plus
                    |  Post a Comment
