.row
    .col-md-6.col-xs-10
        h3(style='margin-top:0;') Recipe Listing
    .col-md-6.col-xs-2
        button.btn.btn-info.pull-right(
            ng-click='show_advanced = !show_advanced')
            span.glyphicon.glyphicon-collapse-down
            |  Options

// advanced search collapsible div
div(collapse='show_advanced')
    .well
        .row
            .col-md-3.col-xs-12
                h3.tight Actions
                button.btn.btn-success.btn-block(ng-click='create_recipe()'
                    ng-disabled="!(window.localStorage.user_role === 'ADMIN' "
                    + "|| window.localStorage.user_role === 'SALESMAN')")
                    span.glyphicon.glyphicon-plus
                    |  Create Recipe

                br
                button.btn.btn-warning.btn-block(
                    ng-click='show_help = !show_help')
                    span.glyphicon.glyphicon-question-sign
                    |  Show Help
                
                // help collapsible div
                div(collapse='show_help')
                    p This list shows all the recipes in the database.  You may filter results by typing in the search box.  It is not case sensitive.  The results will be updated as you type.
                br

            .col-md-9.col-xs-12
                h3.tight Advanced Search
                .row
                    .col-md-3.col-xs-6
                        // select list of search tags
                        .form-group
                            label Tags
                            select.form-control(ng-model='selected_tags'
                                size='8'
                                multiple ng-options='tag for tag in tags')
                    .col-md-3.col-xs-6
                        // dropdown for results per page
                        .form-group
                            label Results per Page
                            select.form-control(ng-model='items_per_page')
                                option(ng-repeat='v in [10,20,50,500]') {{ v }}

// search box
input.form-control(type='search' placeholder='Search' ng-model='query' autofocus)

// filter results and save in 'filtered_recipes', display count
p {{ query ? "Filtering " + get_showing_text() + " by '" + query + "'" : "Showing " + get_showing_text() }}
    | ({{  (filtered_recipes = (recipes | hasTags:selected_tags |filter:query )).length + ' records' }})

// this accordion group will have expandable list of customers
accordion(close-others='false')
    // grab previously filtered results and sort them
    accordion-group.repeated-item(
        ng-repeat='recipe in (filtered_recipes '
            + '|startFrom: (current_page-1)*items_per_page '
            + '|limitTo: items_per_page)')
        accordion-heading {{ (recipe.title || '(untitled)') }}
            span.badge.pull-right {{ get_tags(recipe) }}

        // everything under here is the expand content
        // put these in columns on medium devices, but stack on smaller ones
        .row
            // this col will hold misc actions
            .col-md-3.col-xs-12.col-md-push-9
                // link to recipe
                a.btn.btn-success.btn-block(
                    ng-href='/#/recipes/{{recipe.id}}')
                    span.glyphicon.glyphicon-share-alt
                    |  View Recipe
                br
                // list of linked recipes
                .well
                    h3.tight Linked Recipes
                    // empty div for formatting
                    .form-group
                    .form-group(ng-repeat='id in recipe.linked')
                        a.btn.btn-primary.btn-block(
                            ng-href='/#/recipes/{{id}}')
                            span.glyphicon.glyphicon-share-alt
                            |  {{ get_recipe_name(id) }}

            .col-md-3.col-xs-12.col-md-pull-3
                .well
                    h3.tight Summary
                    p.tight {{ recipe.summary }}
                .well
                    h3.tight Ingredients
                    ul
                        li(ng-repeat='item in recipe.ingredients track by $index'
                            ) {{ item }}

            .col-md-3.col-xs-12.col-md-pull-3
                .well
                    h3.tight Directions
                    ol
                        li(ng-repeat='item in recipe.directions track by $index'
                            ) {{ item }}

            .col-md-3.col-xs-12.col-md-pull-3
                .well
                    h3.tight Info
                    dl
                        dt Amount
                        dd {{ recipe.amount }}
                        dt Oven Temp
                        dd {{ recipe.oven }}
                        dt Time
                        dd {{ recipe.time }}
                        dt Source
                        dd {{ recipe.source }}
                        dt Notes
                        dd {{ recipe.notes }}


// this goes away once we have data
p(ng-hide='recipes.$resolved') Loading data...

// show helpful buttons
div.text-center(ng-show='recipes.$resolved && filtered_recipes.length < items_per_page && selected_tags.length')
    label Can't find it?
    br
    button.btn.btn-primary(
        ng-click="selected_tags = []"
        ) Search All Recipes

div.text-center(ng-show='recipes.$resolved && filtered_recipes.length < items_per_page && !selected_tags.length && can_modify')
    label Not the droids you're looking for?  
    br
    button.btn.btn-success(ng-click='create_recipe()'
        ng-disabled="!can_modify")
        span.glyphicon.glyphicon-plus
        |  Create Recipe


pagination.repeated-item(ng-show='filtered_recipes.length'
    total-items='filtered_recipes.length' ng-model='current_page'
    items-per-page='items_per_page' max-size='4' rotate='false')
