//- vim: filetype=javascript
//- Copyright (c) 2015, Randy Westlund.  All rights reserved.
//- 
//- Redistribution and use in source and binary forms, with or without
//- modification, are permitted provided that the following conditions are met:
//- 
//- 1. Redistributions of source code must retain the above copyright notice, this
//- list of conditions and the following disclaimer.
//- 
//- 2. Redistributions in binary form must reproduce the above copyright notice,
//- this list of conditions and the following disclaimer in the documentation
//- and/or other materials provided with the distribution.
//- 
//- THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
//- ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
//- WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
//- DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
//- FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
//- DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
//- SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
//- CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
//- OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
//- OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.well
    h3.tight Manage Users

    button.btn.btn-success(ng-disabled='!is_modified' ng-click="save_changes()")
        span.glyphicon.glyphicon-save
        |  Save Changes

    .table-responsive
        table.table.table-spaced
            thead
                tr
                    th Name
                    th Email
                    th Role
                    th Last Activity
                    th Date Added
                    th Delete
            tbody
                tr.fade-animation(ng-repeat='user in users')
                    td {{ user.name ? user.name : '(provided by Google on first log in)' }}
                    td: input.form-control(ng-model='user.email')

                    td: select.form-control(ng-model='user.role'
                        ng-options='role for role in user_roles')

                    td {{ user.lastlog | date:'medium' }}
                    td {{ user.timestamp | date:'medium' }}
                    td: button.btn.btn-sm.btn-danger(ng-click="open_delete_user_modal(user)")
                        span.glyphicon.glyphicon-trash

.row
    .col-md-6.col-sm-12
        .row
            .col-md-12.col-xs-12
                form.well(role='form' name='add_user_form')
                    h3.tight Add a User
                    .form-group(
                        ng-class="{ 'has-error': add_user_form.email.$invalid }")
                        label Google Account
                        input.form-control(type='email' ng-model='new_user.email'
                            name='email' placeholder='enter email' required)
                    .row
                        .col-xs-6
                            .form-group
                                label Role
                                select.form-control(ng-model='new_user.role'
                                    ng-options='role for role in user_roles')
                        .col-xs-6
                            .form-group
                                // invisible label to make buttons line up
                                // I know, I know, I'm a terrible person
                                label.invisible .
                                br
                                button.btn.btn-success.btn-block(type='submit'
                                    ng-click="add_user()"
                                    ng-disabled="add_user_form.email.$invalid")
                                    span.glyphicon.glyphicon-plus
                                    |  Create User
            // info
            .col-md-12.col-xs-12
                .well
                    h3.tight Info
                    p Here you may manage users.  When a user logs in for the first time, their account will be activated and user name will be populated from their Google profile.

                    p The only time you need to click 'Save Changes' is after modifying an email address or user role.  Adding or deleting users takes effect immediately.

    .col-md-6.col-sm-12
        .well
            h3.tight User Roles
            dl
                dt ADMIN
                    dd A superuser.  Only ADMINS can manage users and system configuration.
                dt MODERATOR
                    dd Can create, modify, and delete any recipes, as well as see users.
                dt USER
                    dd Can create recipes and can modify only the USER's own recipes.
                dt GUEST
                    dd Has read-only access to the system.  Users not signed in are GUESTs.


